PyPDF2
fpdf
pandas
numpy
scikit-learn==1.2.2
transformers
torch
sentencepiece
yake
drf-spectacular
transformers
langchain
accelerate
safetensors
python-docx
langchain-community
langchain
faiss-cpu
openai
huggingface-hub==0.14.1
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
pymupdf
pypdf
altair==4.1.0
drf_spectacular
drf_spectacular_sideca